:root {
  --secondary_color: #a4a4a4;
  --subscribe_color: #bc271a;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.fa-home {
  transform: scale(1.5);
}
/* iframe {
  width: 70rem;
  height: 40rem;
} */
nav {
  background-color: #1e1e1e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 2rem;
}
.left {
  /* padding: 1rem;
  padding-left: 2rem; */
  font-size: 1rem;

  display: flex;
}
.fa-bars {
  color: white;
  height: 100%;
}
.menu-button {
  background-color: #1e1e1e;
  border: none;
  border-radius: 30px;

  padding: 0.5rem;
}
.fa-youtube {
  color: red;
  height: 100%;

  margin-left: 1.4rem;
}
.youtube-logo {
  display: flex;
}
.youtube-textlogo {
  font-size: larger;
  color: white;
  align-self: center;
}
.middle {
  /* padding-left: 30px; */
  display: flex;
  justify-content: center;
}
.fa-search {
  font-size: large;
  color: #646464;
}
#search-bar {
  font-size: 1rem;
  color: white;
  padding: 6px;
  width: 35rem;
  background-color: #0f0f0f;
  border: none;
}
#search-button {
  background-color: #2c2c2c;
  border: none;
  width: 6rem;
}

/* right nav section */
.profile {
  border-radius: 50%;
  padding: 0;
}
.right {
  height: 100%;
  display: flex;
}
.righticons {
  transform: scale(1.7);

  color: white;
}
.iconbutton {
  padding: 0.5rem;
  margin-right: 1.5rem;
  background-color: #1e1e1e;
  border: none;
  border-radius: 10px;
}
/* --- end of Nav section -- */

/* --- Start of Main section  -- */
.main-wrapper {
  display: flex;
  color: #ffffff;
}
/* ----  left side bar ---- */
.leftsidebar {
  flex: 1 1 15%;
  background-color: #1e1e1e;
  padding-left: 10px;
}
.sidebar-icons {
  color: #909090;
  margin-right: 25px;
}
.sidebar-text {
  font-size: 1rem;
}
.sidebar-item {
  padding: 0.9rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.3rem;
}
.sidebar-item:hover {
  background-color: #646464;
}
.sidebar-item > span {
  font-size: 1rem;
  padding-left: 0.5rem;
}
#main {
  background-color: #171717;
  flex: 1 1 85%;
  min-height: 92.1vh;
}
.card {
  margin: 1.2rem auto;
  display: flex;
  cursor: pointer;
  width: 70%;
}
.hidden {
  display: none;
}

.video > img {
  /* margin-top: -2rem;
    margin-bottom: -2rem; */

  height: 294px;
  width: 393px;
}
.video-info {
  padding: 0rem 1rem;
}
.video-info > span {
  color: #909090;
}
.channel-info {
  margin: 0.5rem 0.2rem;
  display: flex;
  align-items: center;
}
.channel-info > img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
#videowrapper {
  width: 80%;
  margin: auto;
}
#video-main {
  width: 100vw;
  background-color: #171717;
}
.iframe-video {
  width: 85%;
}
.iframe-video iframe {
  border: none;
}
.iframe-wrapper {
  height: 40em;
}
.iframe-wrapper iframe {
  width: 100%;
  height: 100%;
}
.video-details {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid var(--secondary_color);
}
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.video-details1 {
  align-self: start;
}
.video-details2 {
  display: flex;
  align-self: center;
  align-items: center;
}
.video-details2 > span {
  padding-left: 5px;
}
.video-details1 > span {
  color: var(--secondary_color);
  font-size: 0.85rem;
}
.channel-details {
  padding: 1.3rem 0rem;
  display: flex;
  margin-top: 1.2rem;
}
.channelImg {
  flex: 1 1 5%;
}
.subscribe {
  flex: 1 1 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#subscribe-button {
  background-color: var(--subscribe_color);
  border-radius: 5px;
  padding: 0.75rem 0.5rem;
  color: white;
}
.video-channel-info {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
